body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
}

a {
    color: #428bca;
    text-decoration: none;
}

nav {
    font-size: .90em;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 80%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

nav li {
    list-style-type: none;
}

nav a {
    font-weight: bold;
    text-decoration: none;
}

h1, header, article {
    width: 80%;
    margin: 0 auto;
}

h1 {
    padding-bottom: 20px;
    text-align: center;
}

.news {
    border-bottom: 1px solid #666666;
    padding-bottom: 20px;
}

.news:last-of-type {
    border: none;
}

.news img {
    max-width: 400px;
    height: auto;
}

.news h3 {
    padding-top: 20px; 
}
.news p {
    font-size: .90em;
    line-height: 1.5em;
}

.pageTitle {     
    text-align: center;     
    background-color: rgb(235, 114, 114); 
} 
    
.pageTitle h1 {     
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

footer {
    border-top: 1px solid #000000;
    color: #000000;
    font-size: .90em;
    letter-spacing: 1px;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px 0;
    width: 60%;
}

#cookBook{
    display: flex
}

#theDoggFather{
    display: flex;
}

#reincarnated {
    display: flex;
}