body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 0;
}

a {
    color: #428bca;
    text-decoration: none;
}

nav {
    font-size: .75em;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 80%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

nav li {
    list-style-type: none;
}

nav a {
    font-weight: bold;
    text-decoration: none;
}

h1, article {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

footer {
    background-color: #000000;
    color: #ffffff;
    font-size: .75em;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 20px 0;
    width: 100%;
}

